<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <title>ToBooList</title>
</head>
<body>
    <header>
        <div class="container">
            <img class="logo" src="img/Logo.png" alt="BooleanLogo">
            <span class="logotype">Toboolist</span>
        </div> 
    </header>
    <main id="toDoApp">
        <section class="board actionbar">
            <!-- button -->
            <input type="text" @keyup.enter="addTask" v-model="newTask" placeholder="Inserisci una nuova nota">
            <button id="active" @click="addTask">Aggiungi</button>
            <!-- <button id="unactive">Add Section</button> -->
        </section>
        <section class="board tasks">
            <div> 
                <div class="title">
                    <div class="arrow"></div>
                    <h3>Cose da fare a todos los costos:</h3>
                </div>
                <h4 v-if="myList.length === 0">Bravo, hai completato todos los todos!</h4>
                <div v-else>
                    <div v-for="(item, index) in myList" class="line" :key="index">
                        <div :class="myList[index].done === 'true' ? 'V' : 'X'" @click="myList[index].done === 'true' ? myList[index].done = 'false' : myList[index].done = 'true'">
                            <h5 :class="myList[index].done === 'true' ? 'done' : ''">{{myList[index].task}}</h5>
                        </div>
                        <button @click="removeTask(index)"> X </button>
                        <!-- <div class="label editorial">Editorial</div> -->
                    </div>
                </div>
            </div>
        </section>
    </main>
        
    <!-- link vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- link js -->
    <script src="js/script.js"></script>
</body>
</html>